.mainCard {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.mainHeading {
    color: #cfcfcf;
    font-size: 6rem;
    line-height: 7.5rem;
    font-weight: 700;
}

.headingDiv {
    display: flex;
    flex-direction: column;
}

.paraDiv > p {
    font-size: 2rem;
    color: #efefef;
    line-height: 2.5rem;
    font-weight: 500;
}

.paraDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    color: lightgrey;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin-right: 0.5rem;
}
